<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nh.workflow.workflowsupport.dao.mapper.TaskFlowEventRelationMapper">
  <resultMap id="BaseResultMap" type="com.nh.workflow.workflowsupport.dao.bean.TaskFlowEventRelation">
    <constructor>
      <idArg column="id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="task_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="flow_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="event_id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="event_deal_user" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="flow_step_code" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="is_finish" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, task_id, flow_id, event_id, event_deal_user, flow_step_code, is_finish
  </sql>
  <select id="selectByExample" parameterType="com.nh.workflow.workflowsupport.dao.bean.TaskFlowEventRelationExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from task_flow_event_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from task_flow_event_table
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from task_flow_event_table
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.nh.workflow.workflowsupport.dao.bean.TaskFlowEventRelation">
    insert into task_flow_event_table (id, user_id, task_id, 
      flow_id, event_id, event_deal_user, 
      flow_step_code, is_finish)
    values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, 
      #{flowId,jdbcType=INTEGER}, #{eventId,jdbcType=INTEGER}, #{eventDealUser,jdbcType=VARCHAR}, 
      #{flowStepCode,jdbcType=INTEGER}, #{isFinish,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nh.workflow.workflowsupport.dao.bean.TaskFlowEventRelation">
    insert into task_flow_event_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="flowId != null">
        flow_id,
      </if>
      <if test="eventId != null">
        event_id,
      </if>
      <if test="eventDealUser != null">
        event_deal_user,
      </if>
      <if test="flowStepCode != null">
        flow_step_code,
      </if>
      <if test="isFinish != null">
        is_finish,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="flowId != null">
        #{flowId,jdbcType=INTEGER},
      </if>
      <if test="eventId != null">
        #{eventId,jdbcType=INTEGER},
      </if>
      <if test="eventDealUser != null">
        #{eventDealUser,jdbcType=VARCHAR},
      </if>
      <if test="flowStepCode != null">
        #{flowStepCode,jdbcType=INTEGER},
      </if>
      <if test="isFinish != null">
        #{isFinish,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nh.workflow.workflowsupport.dao.bean.TaskFlowEventRelationExample" resultType="java.lang.Long">
    select count(*) from task_flow_event_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update task_flow_event_table
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.taskId != null">
        task_id = #{record.taskId,jdbcType=BIGINT},
      </if>
      <if test="record.flowId != null">
        flow_id = #{record.flowId,jdbcType=INTEGER},
      </if>
      <if test="record.eventId != null">
        event_id = #{record.eventId,jdbcType=INTEGER},
      </if>
      <if test="record.eventDealUser != null">
        event_deal_user = #{record.eventDealUser,jdbcType=VARCHAR},
      </if>
      <if test="record.flowStepCode != null">
        flow_step_code = #{record.flowStepCode,jdbcType=INTEGER},
      </if>
      <if test="record.isFinish != null">
        is_finish = #{record.isFinish,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update task_flow_event_table
    set id = #{record.id,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      task_id = #{record.taskId,jdbcType=BIGINT},
      flow_id = #{record.flowId,jdbcType=INTEGER},
      event_id = #{record.eventId,jdbcType=INTEGER},
      event_deal_user = #{record.eventDealUser,jdbcType=VARCHAR},
      flow_step_code = #{record.flowStepCode,jdbcType=INTEGER},
      is_finish = #{record.isFinish,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nh.workflow.workflowsupport.dao.bean.TaskFlowEventRelation">
    update task_flow_event_table
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="flowId != null">
        flow_id = #{flowId,jdbcType=INTEGER},
      </if>
      <if test="eventId != null">
        event_id = #{eventId,jdbcType=INTEGER},
      </if>
      <if test="eventDealUser != null">
        event_deal_user = #{eventDealUser,jdbcType=VARCHAR},
      </if>
      <if test="flowStepCode != null">
        flow_step_code = #{flowStepCode,jdbcType=INTEGER},
      </if>
      <if test="isFinish != null">
        is_finish = #{isFinish,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nh.workflow.workflowsupport.dao.bean.TaskFlowEventRelation">
    update task_flow_event_table
    set user_id = #{userId,jdbcType=BIGINT},
      task_id = #{taskId,jdbcType=BIGINT},
      flow_id = #{flowId,jdbcType=INTEGER},
      event_id = #{eventId,jdbcType=INTEGER},
      event_deal_user = #{eventDealUser,jdbcType=VARCHAR},
      flow_step_code = #{flowStepCode,jdbcType=INTEGER},
      is_finish = #{isFinish,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>