<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nh.mybatis.dao.mapper.PersonMapper">

    <resultMap id="selectPersonResultMapper" type="Person">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="password" column="password"/>
    </resultMap>

    <resultMap id="testConstruct" type="Person">
        <constructor>
            <idArg column="id" javaType="Integer"/>
            <arg column="name" javaType="String"/>
            <arg column="password" javaType="String"/>
        </constructor>
    </resultMap>

    <resultMap id="testAssociation" type="Person">
        <association property="dog" column="dog" javaType="com.nh.mybatis.bean.Dog">
            <id property="id" column="id"/>
            <result property="dname" column="dname"/>
        </association>
    </resultMap>
    <sql id="userTableColumns">id,name,password</sql>

    <!--<select id="selectPerson" parameterType="int" resultType="selectPersonResultMapper">-->
        <!--select <include refid="userTableColumns"/>-->
         <!--from user where id = #{id}-->
    <!--</select>-->

    <select id="selectPerson" parameterType="int" resultMap="testConstruct">
        select <include refid="userTableColumns"/>
        from user where id = #{id}
    </select>


    <insert id="insertPerson" parameterType="com.nh.mybatis.bean.Person">
        insert into user (id,name,password) values (#{id},#{name},#{password})
    </insert>

    <update id="updateUser" parameterType="com.nh.mybatis.bean.Person">
        update user set
            name = #{name},
            password = #{password}
          where id = #{id}
    </update>

    <delete id="deleteUser" parameterType="int">
        delete from user where id = #{id}
    </delete>

</mapper>