<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/lib/css/bootstrap.css}">
    <title>Login</title>
</head>
<body>

    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
     </div>

    <button>点击按钮</button>


    <script type="text/javascript" th:src="@{/lib/jquery/jquery-3.3.1.min.js}"></script>
    <!--<script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>-->
    <!-- <script type="text/javascript" th:src="@{/lib/iconfont/iconfont.js}" charset="utf-8"></script> -->
    <script type="text/javascript" th:src="@{/myjs/index.js}"></script>

</body>

</html>